<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/assets/styles.css">
    <title>Certificate</title>
    <style>
        html {
            zoom: 0.55; /*workaround for phantomJS2 rendering pages too large*/
        }
    </style>
</head>
<body>

    <h1>Certificate</h1>

    <ul>
        <% for (el in data) { %>
            <li><%= el + ': ' +  data[el] %></li>
        <% } %>
    </ul>

    <hr>

    <ul>
        <% for (el in common) { %>
            <li><%= el + ': ' + common[el] %></li>
        <% } %>
    </ul>

</body>
</html>